* {
	padding:0;
	margin:0;
	box-sizing: border-box;
}

:root {
	--color-primary: #000000; 
	--color-secondary: #789600; 
	--my-max-width: 800px;
}

.header {
	max-width: fit-content;
	margin-inline: auto;
	background-color: var(--color-secondary);
	color: var(--color-primary);
	padding: 10px;
	font-size:200%;
}

.menu {
	width: 100%;
	float: left;
	padding: 10px;
}

.main {
	width: 100%;
	float: left;
	padding: 10px;
}

/* container */
.two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* columns */
.two-columns-grid > * {
    padding:1rem;
}

body {
	color: var(--color-primary);
	background-color: var(--color-secondary);
	font-family: 'Courier New', monospace;
	margin:20px auto;
	max-width:var(--my-max-width);
	padding-left:5px;
	padding-right:5px;
}

h1, h2, h3, h4, p, ul { margin:0.75em 0;}

h1 {font-size:180%;}

h2 {font-size:160%;}

h3 {font-size:140%;}

h4 {font-size:120%;}

li, dd { 
	margin-left:2em;
}

a {
	color: var(--color-primary);
	background-color: var(--color-secondary);
	font-weight: normal;
	text-decoration: underline;
	outline:none;
}

a:hover {
	font-weight: normal;
	text-decoration: none;
}

.youtube-video-container {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.youtube-video-container::after {
	display: block;
	content: "";
	padding-top: 56.25%;
}

.youtube-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.container {
	text-align: center;
}

img {
	max-width: 80%;
	height: auto;
}

img#body {
	border: 1px solid var(--color-primary);
}

.caption {
	font-size: 80%;
	color: var(--color-primary);
	margin-top: 10px;
}

#maincontent {
	font-size:100%;
	padding:0px 5px 5px 0px;
	margin:10px 0px 10px 0px;
	max-width:var(--my-max-width);
	float:left;
}

/* Navigation */

ul{
	display: table;
    width:100%;
}

/* Links to profiles on research page */

ul#nav {
	clear:both;
	float:left;
	margin: 0;
	padding: 0;
	list-style: none;
	max-width: var(--my-max-width);
}

ul#nav li {
	margin: 0;
	padding: 0;
	float: left;
	width:100%;
	text-align: center;
}

ul#nav li a {
	display: block;
	font-size: small;
	color: var(--color-primary);
	font-weight: bold;
	text-decoration: none;
	background: var(--color-secondary);
	padding: 2px 0px 2px 0px;
}

ul#nav li a:hover { background: var(--color-primary); color: var(--color-secondary); }
ul#nav a.selected:link { background: var(--color-secondary); color: var(--color-primary); }
ul#nav a.selected:visited { background: var(--color-primary); color: var(--color-secondary); }

#footer {
	color: var(--color-primary);
	border-top:1px solid var(--color-secondary);
	font-size:80%;
	line-height:1.5em;
	max-width: var(--my-max-width);
	clear:both;
}

#copyright {
	color: var(--color-primary);
	background-color:var(--color-secondary);
	padding:5px 20px 5px 0px;
	float:left;
}

details {
	user-select: text;
	border: 1px solid var(--color-primary);
	padding: 5px;
	margin: 5px;
}

details>summary span.icon {
	width: 24px;
	height: 24px;
	transition: all 0.3s;
}

details[open] summary span.icon {
	transform: rotate(90deg);
}

summary {
	display: flex;
	cursor: pointer;
}

summary::-webkit-details-marker {
	display: none;
}
